<div class="jumbotron parallaxEquipe pb-0 mb-0">
    <h1 class="display-3 text-center"> <img src="../../assets/img/" width="200" alt=""></h1>
    

</div>
<hr>
<div class="jumbotron parallaxSobre pr-4">
    
    <!-- Carla -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/carla.jpg" alt="Imagem da Carla" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/carla-carvalho-de-lima-65b92bbb/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/CarlaCarvaLima" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Carla Carvalho de Lima</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p style="padding-right: 15%;">Graduada em Engenharia Mecatrônica. Atualmente estou estudando para me tornar uma Desenvolvedora Java Full Stack Jr com a pretensão de atuar nesse cargo. Sei me comunicar bem, trabalhar em equipe e busco sempre aprender mais, assim como sempre estou disposta a ajudar e compartilhar meu conhecimento com quem me procurar. Também tenho como objetivo contribuir e ajudar mais mulheres a iniciarem uma carreira na área da tecnologia.</p>
        </div>
    </div>
    <!-- /Carla -->
    <hr>
    <!-- Mathielo -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/mathielo.jpg" alt="Imagem do Mathielo" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/gustavo-mathielo-198247129/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/gustavomathielo" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Gustavo Mathielo</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p style="padding-right: 15%;" >Na area de eventos, atuou em empresas como Rock in Rio, Multishow e GameXp.
                Encontrou na área de tecnologia uma maneira onde pode aplicar toda a sua
                determinação e o prazer de ser desafiado constantemente.
                Acredita que as principais coisas da vida são as relações, a troca e a contribuição.
                </p>
        </div>
    </div>
    <!-- /Mathielo -->
    <hr>
    <!-- Olegario -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/olegario.jpg" alt="Imagem do Olegário" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/gustavo-oleg%C3%A1rio-de-sousa-5223b2194/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/olegario-gu" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Gustavo Olegário de Sousa</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p style="padding-right: 15%;">Graduado em Jornalismo, estudando Análise e desenvolvimento de Sistemas pela UAM. 
                Fã de tecnologia, educação e artes, acredito que o desenvolvimento de uma sociedade pode ser feito de forma humanitária e que tecnologia e empatia são cruciais para tal evolução. Comunicativo, curioso, multidisciplinar e autodidata, encontrei na tecnologia a minha forma de mudar o mundo, pautando a importância do desenvolvimento humano em linhas de código.</p>
        </div>
    </div>
    <!-- /Olegario -->
    <hr>
    <!-- Vanessa -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/vanessa.jpg" alt="Imagem da Vanessa" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/vanessa-regina-silva-97344373/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/vanmtv" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Vanessa Regina de Jesus da Silva</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p style="padding-right: 15%;">Tecnóloga em Hidráulica e Saneamento Ambiental, atualmente estuda Análise e Desenvolvimento de Sistemas na FATEC-SP. 
                Acredita que a natureza, sociedade e tecnologia possam crescer unidas.
                Em seu tempo livre, gosta de nadar, ler, pesquisar conteúdos diversos em inglês e voluntária na iniciativa Fatech Girls.</p>
        </div>
    </div>
    <!-- /Vanessa -->
</div>